@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[?], mode: Mode)(using request: Request[?], messages: Messages)

@layout(pageTitle = title(form, messages("notificationMoreThanOneSao.title"))) {

    @formHelper(action = routes.NotificationMoreThanOneSaoController.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(messages("notificationMoreThanOneSao.heading").toText).asPageHeading(LegendSize.Large)
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue").toText)
        )
    }
}
